---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Serif Pro', serif;
$base-font-size:   20px;
$title-font-size: {{site.title-font-size}};

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

$text-color:       #555;
$background-color: #fdfdfd;
$brand-color:      #98C1D9;
$comp-color:       #A7D3A6;
$grey-color:       #666;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
;
/* Error 404 */
.container404 {
margin:8% auto 0 auto;max-width:640px;
min-width:200px;
line-height:normal;
backface-visibility:hidden;transition:all .3s;
}
.box404 {
background:#fff;
padding:20px;
font-size:100%;
color:#222;box-shadow:0 19px 38px rgba(0,0,0,0.10),0 15px 12px rgba(0,0,0,0.05);
transition:all .3s
}
.box404:hover {
box-shadow:0 3px 6px rgba(0,0,0,0.08),0 3px 6px rgba(0,0,0,0.13);
}
.box404 h2,.box404 h3 {
color:#222;display:block;
text-align:center;
font-size:1.5rem;
margin:10px auto;
font-weight:400
}
.box404 h2 {
font-size:7rem;
color:#e74c3c
}
.box404 h3 {
margin:10px auto 20px auto;
}
.box404 p {
display:block;
margin:10px 0
}
.box404 ul li {
margin:0 0 8px 20px;
list-style:initial;
list-style-type:square
}
.box404 ul li a {
color:#e74c3c;
}
.box404 ul li a:hover {
color:#000;
}
.copyright404 {
display:block;
text-align:center;
margin:auto;
font-weight:normal;
max-width:640px;
min-width:200px;
padding:20px;
border-radius:0 0 5px 5px
}
.copyright404 a,.copyright404 a:hover {
color:#000
}
@media screen and (max-width:1024px) {
.box404 h2 {
font-size:4rem;
}
.container404 {
margin:4% auto 0 auto;}}
